.App {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #3e3e3e;
}

h2 {
    color: #3e3e3e;
}

.directory-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.directory-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: calc(25% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease;
}

.directory-card button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.directory-card button.edit-button {
    background-color: #8572ff;
    color: white;
}

.directory-card button.edit-button:hover {
    background-color: #DDDDDDFF;
    transform: scale(1.05);
}

.directory-card button.delete-button {
    background-color: #ff7c7c;
    color: white;
}

.directory-card button.delete-button:hover {
    background-color: #DDDDDDFF;
    transform: scale(1.05);
}

.directory-card:hover {
    transform: translateY(-5px);
}

.directory-card input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.directory-card input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


@media (max-width: 1024px) {
    .directory-card {
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 768px) {
    .directory-card {/* 2 cards por linha em telas menores */
    }
}

@media (max-width: 480px) {
    .directory-card {
        width: 100%;
    }
}
